@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

*, ::after, ::before {
  box-sizing: border-box;
}



a{
  text-decoration: none;
  color:inherit;
  @apply hover:text-sky-600 transform duration-100
}


.header-sec {
  padding-top: 150px;
  padding-bottom: 70px;
  background-repeat: no-repeat;
  background-size: 120%;
  min-height: 480px;
  background-position-y: -60px;
}

section.main-text h1 {
  @apply text-2xl text-gray-primary font-extrabold mb-5 mt-5;
}

section.main-text h2 {
  @apply text-2xl text-gray-primary font-extrabold mb-5 mt-5;
}

section.main-text h3 {
  @apply text-xl text-orange-primary font-extrabold mb-5 mt-5;
}

section.main-text p em {
  @apply text-lg lg:text-2xl mt-3 mb-5 font-light;
}

section.main-text p a {
  @apply text-lg lg:text-xl mt-3 mb-5 font-normal text-yellow-500 hover:text-blue-600;
}

section.main-text p {
  @apply text-lg lg:text-2xl mt-3 mb-3 font-light;
}

section.main-text ol {
  @apply text-lg lg:text-2xl mt-3 mb-3 font-light list-decimal;
}

section.main-text ol li {
  @apply mt-3 mb-3;
}

.btn {
  @apply inline-block min-w-max bg-orange-primary hover:bg-green-300 text-white font-semibold py-3 px-8 rounded-full shadow-xl shadow-orange-primary/30 cursor-pointer;
}

.btn a {
  @apply hover:text-white;
}

.btn-light {
  @apply inline-block min-w-max bg-white hover:bg-gray-primary hover:text-white text-gray-primary font-semibold py-3 px-8 rounded-full  shadow-xl shadow-gray-primary/20 cursor-pointer;
}
.btn-light a {
  @apply hover:text-white;
}

.text-c{
  text-align: center;
}