.nav-color {
  background-color: rgba(10, 10, 10, 0.5);
  padding: 0;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
}

.navbar-logo {
  margin-left: 30px;
  cursor: pointer;
}

.fa-firstdraft {
  margin-left: 0.5rem;
  font-size: 1.6rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  margin-bottom: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  height: 80px;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-links:hover {
  color: #fff;
  opacity: 0.7;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 70%;
    height: 0;
    position: absolute;
    top: 85px;
    left: 15%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu li {
    visibility: hidden;
  }

  .nav-menu.active {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 50vh;
    position: absolute;
    top: 85px;
    background: rgba(10, 10, 10, 0.5);
    left: 15%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-menu.active li {
    visibility: visible;
  }
  .nav-item {
    height: 30px;
  }
  .nav-links {
    text-align: start;
    margin: 0.2rem;
    padding: 0;
    width: 80%;
    display: table;
  }

  .nav-links:hover {
    opacity: 0.7;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  button.menu-icon {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  button.menu-icon svg {
    margin-bottom: 0.5rem;
    color: #ff7d41;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    background: #1888ff;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #1888ff;
    transition: 250ms;
  }

  button {
    display: none;
  }
}
